


/*header bg styles*/
header{
  background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
}
/*nav styles*/
nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px;

}
.nav-title{
  font-weight: 800;
  font-size: 30px;
}
.button-test{
 background-color: #4E47FF;
 font-weight: 500;
 color:white;
 padding: 10px 18px;
 border-radius: 5px;
 border-color:black;
}
.header-tag{
  text-align: center;
}